<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>5553793324-qd4mref0i8cg2q796o1sjrg9r6saiqvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.5553793324-qd4mref0i8cg2q796o1sjrg9r6saiqvm</string>
	<key>API_KEY</key>
	<string>AIzaSyDbepYwVmYk8v0UjilYK9pvq10M3kd_1Dc</string>
	<key>GCM_SENDER_ID</key>
	<string>5553793324</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-2-2511d</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-2-2511d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:5553793324:ios:7505821a74f1bccf2b6489</string>
</dict>
</plist>